<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <!-- Bootstrap -->
    <link href="/App/Views/News/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="container">
    <section>
        <div class="row">
            <div class="col-sm-12 text-center"><h1>Новости</h1>
            </div>

        </div>
        <br>
        <br>

        <div class="row">

            <?php foreach($articles as $article): ?>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $article->published; ?>

                    <a href="article.php?id=<?php echo $article->id;?>"><h3>
                        <?php echo $article->title; ?>
                    </h3></a>
                    <br>
                    <?php echo $article->lead; ?>
                </div>


            </div>
            <?php endforeach; ?>
        </div>


    </section>
</div>
<!-- <jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="/App/Views/News/bootstrap/js/bootstrap.min.js"></script>


</body>
</html>