<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <!-- Bootstrap -->
    <link href="/App/Views/News/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row">
        <h1 class="col-sm-10">
            <?php if(null == $article->id ):?>
            Добавить
            <?php else: ?>
            Редактировать
            <?php endif;?>
        </h1>

    </div>

    <form action="save.php" method="post">

        <input type="hidden" name="id" value="<?php echo $article->id;?>">

        <div class="form-group">
            <label for="title">Заголовок</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Заголовок"
                   value="<?php echo $article->title;?>">
        </div>
        <div class="form-group">
            <label for="published">Время</label>
            <input type="text" class="form-control" id="published" name="published" placeholder="Время"
                   value="<?php echo $article->published;?>">
        </div>
        <div class="form-group">
            <label for="lead">Lead</label>
            <textarea rows="5" class="form-control" id="lead" name="lead"><?php echo $article->lead;?></textarea>
        </div>
        <div class="form-group">
            <label for="text">Текст</label>
            <textarea rows="5" class="form-control" id="text" name="text"><?php echo $article->text;?></textarea>
        </div>
        <button type="submit" class="btn btn-success">
            <?php if(null == $article->id ):?>
            Добавить
            <?php else: ?>
            Редактировать
            <?php endif;?>
        </button>
        <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
    </form>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="/App/Views/News/bootstrap/js/bootstrap.min.js"></script>


</body>
</html>